$color: #c43025;
$color2: #111111;
$color3:#c43025;
$color4:#666666;
$color5:#1a0603;
$bgimage:'joker.png';
/* Background Elements */
body
{
    background-image:url($bgimage);
    background-color:$color5;
    background-position:center;
    background-attachment:fixed;
    background-repeat:no-repeat;
    background-blend-mode:lighten;

}
.row,.container,#wrapper
{
    background-color:transparent;
    background-image: none;
}
/* Color Elements */
.btn-primary,.nav-tabs>li.active>a,.nav-tabs>li.active>a:focus,.badge
{
    background-color:$color;
    color:$color2;
}
.navbar-default .navbar-nav>li>a,a,span,a,.label,.btn-danger,.btn-default,.fa-check,.fas
{
    color:$color;
}
.text,
{
    color:$color;
}
/* Light Elements */
.dropdown-menu,.dropdown-menu>li,.dropdown-header,.dropdown-menu .btn,.dropdown-menu .btn-primary,.btn-primary:hover,.input-group-addon,.dropdown-item,.table>thead>tr>th.active
{
    background-color: $color3;
    color: $color2;
}
.dropdown>a:hover, .dropdown-toggle>a:hover, .dropdown>li>a:hover,.navbar-default .navbar-nav>li>a:hover,.table.table-hover a:hover,input,.dataTables_filter
{
    color: $color3 !important;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus
{
    background-color: $color3;
}
.imgphoto
{
    border-color: $color3;
    border-style: solid;
    border-width: 2px;
}
/* Dark Elements */
button,div,span,td,p,tr,th,li,ul,.navbar-default .navbar-text,.well,.btn-default,.nav-tabs,.list-group-item,.dropdown-menu>li>a:hover,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.dropdown-menu>.active>a,.dropdown-menu .divider
{
    background-color: $color2;
    color: $color3;
}
.btn-primary, .btn-primary:hover, .input-group-addon, .form-control,.cb
{
    border-color:$color2;
}
.form-control,.form-control[readonly],.panel-default>.panel-heading,.panel-primary>.panel-heading,.form-control[disabled],.cb,.panel-title,.panel-primary>.panel-heading
{
    background-color:$color4;
    color:$color2;
}
.fa-times
{
    color:$color4;
}
.panel-primary,.panel-primary>.panel-heading,.navbar-default,.panel-body
{
    border-color:$color4;
}
/* Calendar Elements */
.active.highlighted.day
{
    background-color: $color !important;
    color: $color3 !important;
}
.highlighted.day
{
    background-color: #ffac6f !important;
    color: $color2 !important;
}
.today.disabled.disabled-date.day
{
    background-color: $color3 !important;
    color: $color2 !important;
}
/* Other Elements */
.panel-default, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover,.nav-tabs>li>a:hover,.panel-default>.panel-heading+.panel-collapse>.panel-body,.panel-primary>.panel-heading+.panel-collapse>.panel-body,.panel-heading
{
    border: none;
}
.dropdown-header
{
   font-weight: bold;
}
.panel-primary
{
  margin-bottom:0px;
  padding:0px;
}
