$color: #666666;
$color2: #15181C;
$color3: #43474c;
$color4: #ff8e3c;
$color5: #000000;
$color6: #db6109;
/* Background Elements */
body
{
    background-color:$color5;
    color: $color4;
}
.modal-content {
    background-color:$color2;
}
.row,.container,#wrapper,.container-fluid
{
    background-color:transparent;
    background-image: none;
}
.bg-basic, .panel, .navbar-default {
    background-color:$color2;
}
/* Color Elements */
.card-header {
    background-color: $color3;
    color: $color4;
}
.card-header>ul {
    background-color: $color5 !important;
    color: $color4;
    border-bottom: none;
}
.nav-tabs>li.active>a,.nav-tabs>li.active>a:focus
{
    background-color: $color2;
    color:$color4 !important;
    border: 1px solid transparent;
}
.nav-tabs>li>a {
    border: 1px solid $color2;
    color: $color4;
    margin-right: 0;
    background-color: $color3;
}
.navbar-nav>li>a,a,span,a,.label,.btn-danger,.btn-default,.fa-check,.fas
{
    color:$color4 !important;
}
.text
{
    color:$color4;
}
.btn-primary {
    background-color: $color3;
    color: $color4;
}
.badge {
    background-color: $color3;
    color: $color2;
}
/* Light Elements */
.dropdown-menu,.dropdown-menu>li,.dropdown-header,.dropdown-menu .btn,.dropdown-menu .btn-primary,.dropdown-item,.table>thead>tr>th.active
{
    background-color: $color2;
    color: $color3;
}
.dropdown>a:hover, .dropdown-toggle>a:hover, .dropdown>li>a:hover,.navbar-default .navbar-nav>li>a:hover,.table.table-hover a:hover,.dataTables_filter
{
    color: $color4 !important;
    background-color: $color2;
}

.imgphoto
{
    border-color: $color3;
    border-style: solid;
    border-width: 2px;
}

.nav-tabs>li.active>a:hover {
    background-color: $color2;
    color: $color4 !important;
}
/* Dark Elements */
button,span,td,p,tr,th, .navbar-default .navbar-text,.well,.btn-default,.list-group-item,.dropdown-menu>.active>a:focus,.dropdown-menu>.active>a
{
    background-color: $color2;
    color: $color4;
}
.btn-primary, .input-group-addon, .form-control,.cb
{
    border-color:$color2;
}
.btn-primary:hover {
    background-color: $color4;
    color: $color2 !important;
}
.form-control,.form-control[readonly],.panel-default>.panel-heading,.panel-primary>.panel-heading,.form-control[disabled],.cb,.panel-title,.panel-primary>.panel-heading
{
    background-color:$color3;
    color:$color4;
}
.fa-times
{
    color:$color4;
}
.panel-primary,.panel-primary>.panel-heading,.navbar-default,.panel-body
{
    border-color:$color4;
}
.dropdown-menu>li>a:hover,.dropdown-menu>.active>a:hover {
    background-color: $color4;
    color: $color2 !important;
}
/* Calendar Elements */
.active.highlighted.day
{
    background-color: $color !important;
    color: $color3 !important;
}
.highlighted.day
{
    background-color: $color3 !important;
    color: $color4 !important;
}
.today.disabled.disabled-date.day
{
    background-color: $color3 !important;
    color: $color2 !important;
}
.nav>li>a:focus, .nav>li>a:hover {
    background-color: $color4;
    text-decoration: none;
    color: $color2 !important;
}
.input-group-addon,.input-group-addon .fas  {
    background-color: $color4;
    color: $color2 !important;
}
/* Other Elements */
.panel-default, .panel-default>.panel-heading+.panel-collapse>.panel-body,.panel-primary>.panel-heading+.panel-collapse>.panel-body,.panel-heading
{
    border: none;
}
.dropdown-header
{
   font-weight: bold;
}
.panel-primary
{
  margin-bottom:0px;
  padding:0px;
}
.nav-tabs {
    border-bottom: none;
}
.btn-default:hover {
    color: $color2 !important;
}

.btn-primary:active, .btn-primary:focus {
    background-color: $color6;
    color: $color;
}
