/* Background Elements */
body {
  background-image: url("joker.png");
  background-color: #1a0603;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-blend-mode: lighten; }

.row, .container, #wrapper {
  background-color: transparent;
  background-image: none; }

/* Color Elements */
.btn-primary, .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .badge {
  background-color: #c43025;
  color: #111111; }

.navbar-default .navbar-nav > li > a, a, span, a, .label, .btn-danger, .btn-default, .fa-check, .fas {
  color: #c43025; }

.text {
  color: #c43025; }

/* Light Elements */
.dropdown-menu, .dropdown-menu > li, .dropdown-header, .dropdown-menu .btn, .dropdown-menu .btn-primary, .btn-primary:hover, .input-group-addon, .dropdown-item, .table > thead > tr > th.active {
  background-color: #c43025;
  color: #111111; }

.dropdown > a:hover, .dropdown-toggle > a:hover, .dropdown > li > a:hover, .navbar-default .navbar-nav > li > a:hover, .table.table-hover a:hover, input, .dataTables_filter {
  color: #c43025 !important; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus {
  background-color: #c43025; }

.imgphoto {
  border-color: #c43025;
  border-style: solid;
  border-width: 2px; }

/* Dark Elements */
button, div, span, td, p, tr, th, li, ul, .navbar-default .navbar-text, .well, .btn-default, .nav-tabs, .list-group-item, .dropdown-menu > li > a:hover, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a, .dropdown-menu .divider {
  background-color: #111111;
  color: #c43025; }

.btn-primary, .btn-primary:hover, .input-group-addon, .form-control, .cb {
  border-color: #111111; }

.form-control, .form-control[readonly], .panel-default > .panel-heading, .panel-primary > .panel-heading, .form-control[disabled], .cb, .panel-title, .panel-primary > .panel-heading {
  background-color: #666666;
  color: #111111; }

.fa-times {
  color: #666666; }

.panel-primary, .panel-primary > .panel-heading, .navbar-default, .panel-body {
  border-color: #666666; }

/* Calendar Elements */
.active.highlighted.day {
  background-color: #c43025 !important;
  color: #c43025 !important; }

.highlighted.day {
  background-color: #ffac6f !important;
  color: #111111 !important; }

.today.disabled.disabled-date.day {
  background-color: #c43025 !important;
  color: #111111 !important; }

/* Other Elements */
.panel-default, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover, .nav-tabs > li > a:hover, .panel-default > .panel-heading + .panel-collapse > .panel-body, .panel-primary > .panel-heading + .panel-collapse > .panel-body, .panel-heading {
  border: none; }

.dropdown-header {
  font-weight: bold; }

.panel-primary {
  margin-bottom: 0px;
  padding: 0px; }

/*# sourceMappingURL=jokers.css.map */
