/* Background Elements */
body {
  background-color: #000000;
  color: #ff8e3c; }

.modal-content {
  background-color: #15181C; }

.row, .container, #wrapper, .container-fluid {
  background-color: transparent;
  background-image: none; }

.bg-basic, .panel, .navbar-default {
  background-color: #15181C; }

/* Color Elements */
.card-header {
  background-color: #43474c;
  color: #ff8e3c; }

.card-header > ul {
  background-color: #000000 !important;
  color: #ff8e3c;
  border-bottom: none; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus {
  background-color: #15181C;
  color: #ff8e3c !important;
  border: 1px solid transparent; }

.nav-tabs > li > a {
  border: 1px solid #15181C;
  color: #ff8e3c;
  margin-right: 0;
  background-color: #43474c; }

.navbar-nav > li > a, a, span, a, .label, .btn-danger, .btn-default, .fa-check, .fas {
  color: #ff8e3c !important; }

.text {
  color: #ff8e3c; }

.btn-primary {
  background-color: #43474c;
  color: #ff8e3c; }

.badge {
  background-color: #43474c;
  color: #15181C; }

/* Light Elements */
.dropdown-menu, .dropdown-menu > li, .dropdown-header, .dropdown-menu .btn, .dropdown-menu .btn-primary, .dropdown-item, .table > thead > tr > th.active {
  background-color: #15181C;
  color: #43474c; }

.dropdown > a:hover, .dropdown-toggle > a:hover, .dropdown > li > a:hover, .navbar-default .navbar-nav > li > a:hover, .table.table-hover a:hover, .dataTables_filter {
  color: #ff8e3c !important;
  background-color: #15181C; }

.imgphoto {
  border-color: #43474c;
  border-style: solid;
  border-width: 2px; }

.nav-tabs > li.active > a:hover {
  background-color: #15181C;
  color: #ff8e3c !important; }

/* Dark Elements */
button, span, td, p, tr, th, .navbar-default .navbar-text, .well, .btn-default, .list-group-item, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a {
  background-color: #15181C;
  color: #ff8e3c; }

.btn-primary, .input-group-addon, .form-control, .cb {
  border-color: #15181C; }

.btn-primary:hover {
  background-color: #ff8e3c;
  color: #15181C !important; }

.form-control, .form-control[readonly], .panel-default > .panel-heading, .panel-primary > .panel-heading, .form-control[disabled], .cb, .panel-title, .panel-primary > .panel-heading {
  background-color: #43474c;
  color: #ff8e3c; }

.fa-times {
  color: #ff8e3c; }

.panel-primary, .panel-primary > .panel-heading, .navbar-default, .panel-body {
  border-color: #ff8e3c; }

.dropdown-menu > li > a:hover, .dropdown-menu > .active > a:hover {
  background-color: #ff8e3c;
  color: #15181C !important; }

/* Calendar Elements */
.active.highlighted.day {
  background-color: #666666 !important;
  color: #43474c !important; }

.highlighted.day {
  background-color: #43474c !important;
  color: #ff8e3c !important; }

.today.disabled.disabled-date.day {
  background-color: #43474c !important;
  color: #15181C !important; }

.nav > li > a:focus, .nav > li > a:hover {
  background-color: #ff8e3c;
  text-decoration: none;
  color: #15181C !important; }

.input-group-addon, .input-group-addon .fas {
  background-color: #ff8e3c;
  color: #15181C !important; }

/* Other Elements */
.panel-default, .panel-default > .panel-heading + .panel-collapse > .panel-body, .panel-primary > .panel-heading + .panel-collapse > .panel-body, .panel-heading {
  border: none; }

.dropdown-header {
  font-weight: bold; }

.panel-primary {
  margin-bottom: 0px;
  padding: 0px; }

.nav-tabs {
  border-bottom: none; }

.btn-default:hover {
  color: #15181C !important; }

.btn-primary:active, .btn-primary:focus {
  background-color: #db6109;
  color: #666666; }

/*# sourceMappingURL=pumpkin.css.map */
