/* Background Elements */
body
{
    background-color:#222222;
    background-image: linear-gradient(45deg, #2a2a2a 0%, black 100%);
    background-size:auto;
    background-repeat:no-repeat;
}
.row,.container,#wrapper
{
    background-color:transparent;
    background-image: none;
}
/* Color Elements */
.btn-primary,.nav-tabs>li.active>a,.nav-tabs>li.active>a:focus,.badge,.table>thead>tr>th.active
{
    background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
    background-color:transparent;
    color:#111111;
}
.navbar-default .navbar-nav>li>a,a,span,a,.label,.btn-danger,.btn-default,.fa-check,.fas
{
    color:#ff8e3c;
}
.text
{
    background: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* Light Elements */
.dropdown-menu,.dropdown-menu>li,.dropdown-header,.dropdown-menu .btn,.dropdown-menu .btn-primary,.btn-primary:hover,.input-group-addon,.dropdown-item
{
    background-color: #d6d6d6;
    color: #111111;
}
.dropdown>a:hover, .dropdown-toggle>a:hover, .dropdown>li>a:hover,.navbar-default .navbar-nav>li>a:hover,.table.table-hover a:hover,input,.dataTables_filter
{
    color: #d6d6d6 !important;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus
{
    background-color: #d6d6d6;
}
.imgphoto
{
    border-color: #d6d6d6;
    border-style: solid;
    border-width: 2px;
}
/* Dark Elements */
button,div,span,td,p,tr,th,li,ul,.navbar-default .navbar-text,.well,.btn-default,.nav-tabs,.list-group-item,.dropdown-menu>li>a:hover,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.dropdown-menu>.active>a,.dropdown-menu .divider
{
    background-color: #111111;
    color: #d6d6d6;
}
.btn-primary, .btn-primary:hover, .input-group-addon, .form-control,.cb
{
    border-color:#111111;
}
.form-control,.form-control[readonly],.panel-default>.panel-heading,.panel-primary>.panel-heading,.form-control[disabled],.cb,.panel-title,.panel-primary>.panel-heading
{
    background-color:#666666;
    color:#111111;
}
.fa-times
{
    color:#666666;
}
.panel-primary,.panel-primary>.panel-heading,.navbar-default,.panel-body
{
    border-color:#666666;
}
/* Calendar Elements */
.active.highlighted.day
{
    background-color: #ff8e3c !important;
    color: #ffffff !important;
}
.highlighted.day
{
    background-color: #ffac6f !important;
    color: #111111 !important;
}
.today.disabled.disabled-date.day
{
    background-color: #d6d6d6 !important;
    color: #111111 !important;
}
/* Other Elements */
.panel-default, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover,.nav-tabs>li>a:hover,.panel-default>.panel-heading+.panel-collapse>.panel-body,.panel-primary>.panel-heading+.panel-collapse>.panel-body,.panel-heading
{
    border: none;
}
.dropdown-header
{
   font-weight: bold;
}
.panel-primary
{
  margin-bottom:0px;
  padding:0px;
}
