/* Background Elements */
body,#wrapper,.container
{
    background-color:#ea3323;
}
.row
{
    background-color:transparent;
}
/* Color Elements */
.btn-primary,.nav-tabs>li.active>a,.nav-tabs>li.active>a:focus,.badge
{
    background-color:#c6c6c6;
    color:#111111;
}
.navbar-default .navbar-nav>li>a,a,span,a,.label,.btn-danger,.btn-default,.fa-check,.fas
{
    color:#111111;
}
/* Light Elements */
.input-group-addon,.dropdown-menu,.dropdown-menu>li,.dropdown-header,.dropdown-menu .btn,.dropdown-menu .btn-primary,.table>thead>tr>th.active
{
    background-color: #d6d6d6;
    color: #111111;
}
.btn-primary:hover,.dropdown-item
{
    background-color: #ea3323;
    color: #ffffff;
}
.navbar-default .navbar-nav>li>a:hover,.dataTables_filter,.dropdown>a:hover, .dropdown-toggle>a:hover, .dropdown>li>a:hover,.table.table-hover a:hover,input
{
    color: #111111 !important;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus
{
    background-color: #ea3323;
}
.nav-tabs>li
{
    background-color: #fffe55;
}
.imgphoto
{
    border-color: #111111;
    border-style: solid;
    border-width: 2px;
}
/* Dark Elements */
button,div,span,td,p,tr,th,li,ul,.navbar-default .navbar-text,.well,.btn-default,.nav-tabs,.list-group-item,.dropdown-menu>li>a:hover,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.dropdown-menu>.active>a
{
    background-color: #fffe55;
    color: #111111;
}
.btn-primary, .btn-primary:hover, .input-group-addon, .form-control,.cb,.active
{
    border-color:#111111;
}
.form-control,.form-control[readonly],.panel-default>.panel-heading,.panel-primary>.panel-heading,.form-control[disabled],.cb,.panel-title,.panel-primary>.panel-heading,.dropdown-menu .divider
{
    background-color:#ea3323;
    color:#ffffff;
}
.fa-times
{
    color:#666666;
}
.panel-primary,.panel-primary>.panel-heading,.navbar-default,.panel-body
{
    border-color:#000000;
    border-style: solid;
    border-width: 1px;
}
/* Calendar Elements */
.active.highlighted.day
{
    background-color: #ff8e3c !important;
    color: #ffffff !important;
}
.highlighted.day
{
    background-color: #ffac6f !important;
    color: #111111 !important;
}
.today.disabled.disabled-date.day
{
    background-color: #d6d6d6 !important;
    color: #111111 !important;
}
/* Other Elements */
.panel-default, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover,.nav-tabs>li>a:hover,.panel-default>.panel-heading+.panel-collapse>.panel-body,.panel-primary>.panel-heading+.panel-collapse>.panel-body,.panel-heading
{
    border: none;
}
.dropdown-header
{
   font-weight: bold;
}
