html
{
    height:100%;
}
body
{
    height:100%;
    min-height:100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.fa-check
{
   color:green;
   border-color:black;
}
.fa-times
{
    color:red;
    border-color:black;
}
.table-responsive > .table {
    margin-bottom: 0;
}
.table-responsive > .table > thead > tr > th, .table-responsive > .table > tbody > tr > th, .table-responsive > .table > tfoot > tr > th, .table-responsive > .table > thead > tr > td, .table-responsive > .table > tbody > tr > td, .table-responsive > .table > tfoot > tr > td {
    white-space: nowrap;
}
.timestamp
{
    color:inherit;
}
.imgphoto
{
    border-style:inset;border-width:2px;max-width:100%;max-height:600px;height:auto;width:auto;object-fit:contain;
}
table.dataTable thead .sorting, 
table.dataTable thead .sorting_asc, 
table.dataTable thead .sorting_desc {
    background : none !important;
}
.dropdown-menu
{
    padding:0;
}
.row.no-gutter 
{
  margin-left: 0;
  margin-right: 0;
}
.border {
    border-radius: .5rem;
}

.header {
    font-weight: bold;
}

.pt {
    padding: 0;
}

.table {
    margin-bottom: .5rem;
}

.mzt {
    margin: 5rem 0 0 0;
}

.mb {
    margin-bottom: 1rem;
}

.bordertr {
    border-top-right-radius: .5rem;
    border-top-left-radius: .5rem;
}

h4 {
    margin-top: 0;
    padding: 0.625rem 0;
}

h5 {
    margin-top: 1rem;
    margin-bottom: .5rem;
}
.mbot {
    margin-bottom: 5rem;
}

.table>thead>tr>th {
    border-bottom: 0;
}

.padtopb {
    padding-top: 1.4rem;
    padding-bottom: 1rem;
}

.padlr {
    padding: 0 1.5rem .5rem;   
}

.sim-date, .author {
    margin: .5rem 0 1rem;
}
.mb {
    margin-bottom: 1rem;
    margin-top:0;
}

.mb4th {
    margin-bottom: 0.25rem;
    margin-top:0;
}

.mt {
    margin-top: 1rem;
}
.pubutton {
    font-size:16px;
    letter-spacing:1px;
}
.puheader {
    font-size:13px;
    letter-spacing:2px;
    margin-bottom:1rem;
    padding-top:5px;
}
.vamid {
    vertical-align:middle !important;
}
.text-c {
    text-align:center;
}
.m-5 {
    margin:5px;
}